//color definition

$color-grey-blue: #AFCED0;
$color-dark-blue: #558d91;
$color-dark-grey: #3A383E;
$color-brown: #B37246;
$color-pale: white;
$danger: #dc3545;

$break-small: 501px;
$break-middle: 769px;
$break-large: 992px;
