@import "../../assets/scss/styles.scss";

app-header {
  flex: initial;
  height: 7rem;
}

main {
  @include minHeightPage;
  flex: auto;
  background-color: #fff;

  //height: calc(100vh - 10rem);

}
