<div (window:resize)="onResize()" id="siteContent">
  <div id="sideMenu" *ngIf="deviceFormat === 'md'  || deviceFormat === 'sm'">
    <app-side-menu [@openClose]="!sideMenuService.menuStatus ? 'closeMenu' : 'openMenu'"
      style="transition: margin-left 0.3s">
    </app-side-menu>
    <div id="sideMenuOverlay" (click)="onCloseSideMenu()"
      [@openClose]="!sideMenuService.menuStatus ? 'dontPushOverlay' : 'pushOverlay'"
      style="transition: margin-left 0.3s"></div>
  </div>

  <app-side-menu *ngIf="deviceFormat !== 'md'  && deviceFormat !== 'sm'">
  </app-side-menu>

  <div id="page">
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

</div>

<!-- Custom modal setup -->
<div id="modal-container" class="hidden"></div>
<div id="overlay" class="hidden"></div>
