@import "../../../assets//scss/styles.scss";

#presentation {
  background: url("../../../assets/images/presentation/presentation.jpg");
  background-size: cover;
  @include minHeightPage;
  color: white;
  display: flex;
  flex-direction: column;
  @include padding;

  h1 {
    @include middleTittle;
  }

  h1,
  article {
    z-index: 2;
  }

  article {
    max-width: 700px;
  }

  ::ng-deep>div {
    p+ul li {
      list-style: none;
      padding: 1rem;

      ul li {
        list-style: disc;
      }
    }


  }
}
