 <section id="prices">
   <article>
     <h1>{{ 'prices.title' | translate}}</h1>
     <p>{{ 'prices.registration-fees' | translate}}</p>
     <table>
       <tr>
         <th>{{ 'prices.table.tr1.th1' | translate}}</th>
         <th colspan="2" style="border: none">{{ 'prices.table.tr1.th2' | translate}}</th>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr2.td1' | translate}}</td>
         <td>{{ 'prices.table.tr2.td2' | translate}}</td>
         <td>{{ 'prices.table.tr2.td3' | translate}}</td>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr3.td1' | translate}}</td>
         <td colspan="2">{{ 'prices.table.tr3.td2' | translate}}</td>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr4.td1' | translate}}</td>
         <td colspan="2">{{ 'prices.table.tr4.td2' | translate}}</td>
       </tr>
       <tr>
         <th>{{ 'prices.table.tr5.th1' | translate}}</th>
         <th>{{ 'prices.table.tr5.th2' | translate}}</th>
         <th>{{ 'prices.table.tr5.th3' | translate}}</th>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr6.td1' | translate}}</td>
         <td>{{ 'prices.table.tr6.td2' | translate}}</td>
         <td>{{ 'prices.table.tr6.td3' | translate}}</td>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr7.td1' | translate}}</td>
         <td>{{ 'prices.table.tr7.td2' | translate}}</td>
         <td>{{ 'prices.table.tr7.td3' | translate}}</td>
       </tr>
       <tr>
         <td>{{ 'prices.table.tr8.td1' | translate}}</td>
         <td colspan="2">{{ 'prices.table.tr8.td2' | translate}}</td>
       </tr>
     </table>
   </article>

 </section>
