/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./variables.scss";



body,
head {
  font-family: 'Lato',
    sans-serif;
  color: $color-dark-grey;
  background-color: #558d91;
  height: 100%;
}

.closeModal {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.closeModal:hover {
  color: $color-grey-blue !important;
  opacity: 1;
}

h1,
h2 {
  font-family: 'Libre Baskerville',
    serif;
}

button {
  background-color: $color-grey-blue;
  border: $color-grey-blue 1px solid;
  color: $color-dark-grey;
  padding: 5px 6px;
  margin: 0 30px;
  border-radius: 3px;
  transition: 0.4s;
}

button:hover {
  background-color: $color-dark-grey;
  border: $color-grey-blue 1px solid;
  color: $color-grey-blue;
}
